@inject IArtifactService ArtifactService
@using System.ComponentModel.DataAnnotations
@using Services.Interfaces
@using mims.Models
@namespace mims.Components.Admin.Artifact

<EditForm Model="@bindingArtifactObject" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="entryno" class="form-label">Entry No</label>
        <InputText id="entryno" class="form-control" @bind-Value="bindingArtifactObject.EntryNo" />
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="bindingArtifactObject.Name" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="bindingArtifactObject.Description" />
    </div>
    <div class="mb-3">
        <label for="timePeriod" class="form-label">Time/Period</label>
        <InputTextArea id="timePeriod" class="form-control" @bind-Value="bindingArtifactObject.TimePeriod" />
    </div>

    @* ********* Inscription ******** *@
    <div class="d-flex">
        <label for="hasInscription" class="form-label">Inscription</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <Switch id="hasInscription" class="d-inline"  @bind-Value="bindingArtifactObject.HasInscription" />
      </div>
    <div class="mb-3">
        @if(bindingArtifactObject.HasInscription)
        {
             <InputTextArea id="inscription" class="form-control" @bind-Value="bindingArtifactObject.Inscription" />
        }
    </div>
  
     <div class="mb-3">
        <label for="dateOfAcquisition" class="form-label">Date Of Acquisition</label>
        <DateInput id="dateOfAcquisition" class="form-control" @bind-Value="bindingArtifactObject.DateOfAcquisition" />
    </div>

    <div class="mb-3">
        <InputRadioGroup @bind-Value="@bindingArtifactObject.ModeOfAcquisition">
            Mode of Acquisition:
            <br>
            @foreach( var mode in Enum.GetValues(typeof(AcquisitionMode)).Cast<AcquisitionMode>())
            {
              <InputRadio id="@mode" class="form-check-input" Value="mode" />
              <label for="@mode" class="form-check-label">@mode</label>
              <br>
            }
        </InputRadioGroup>
    </div>  

     <div class="mb-3">
        <label for="placeOfOrigin" class="form-label">Place Of Origin</label>
        <InputText id="placeOfOrigin" class="form-control" @bind-Value="bindingArtifactObject.PlaceOfOrigin" />
    </div>  

     <div class="mb-3">
        <label for="PlaceOfReceipt" class="form-label">Place Of Receipt</label>
        <InputText id="PlaceOfReceipt" class="form-control" @bind-Value="bindingArtifactObject.PlaceOfReceipt" />
    </div>  

     <div class="mb-3">
        <label for="NameOfDonor" class="form-label">Name Of Donor</label>
        <InputText id="NameOfDonor" class="form-control" @bind-Value="bindingArtifactObject.NameOfDonor" />
    </div>  

     <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <InputText id="Location" class="form-control" @bind-Value="bindingArtifactObject.Location" />
    </div>  

     <div class="mb-3">
        <label for="PhysicalCondition" class="form-label">Physical Condition</label>
        <InputText id="PhysicalCondition" class="form-control" @bind-Value="bindingArtifactObject.PhysicalCondition" />
    </div>  

     <div class="mb-3">
        <label for="NumberOfObjects" class="form-label">Number Of Objects</label>
        <InputText id="NumberOfObjects" class="form-control" @bind-Value="bindingArtifactObject.Number" />
    </div>  

     <div class="mb-3">
        <label for="NameOfArtist" class="form-label">Name of Artist</label>
        <InputText id="NameOfArtist" class="form-control" @bind-Value="bindingArtifactObject.NameOfArtist" />
    </div>  

     <div class="mb-3">
        <label for="EstimatedValue" class="form-label">Estimated Value</label>
        <CurrencyInput TValue="int?" id="EstimatedValue" @bind-Value="bindingArtifactObject.EstimatedValue" Locale="en-NP" Placeholder="Enter amount" />
    </div>

    <div class="mb-3">
        <label for="Remarks" class="form-label">Remarks</label>
        <InputText id="Remarks" class="form-control" @bind-Value="bindingArtifactObject.Remarks" />
    </div>

    <div class="mb-3">
        <label for="Size" class="form-label">Size</label>
        <InputText id="Size" class="form-control" @bind-Value="bindingArtifactObject.Measurement" />
    </div>

    <div class="mb-3">
        <label for="Weight" class="form-label">Weight</label>
        <InputText id="Weight" class="form-control" @bind-Value="bindingArtifactObject.Weight" />
    </div>

    @* <div class="mb-3"> *@
    @*     <label for="PhotoNo" class="form-label">Photo No.</label> *@
    @*     <InputText id="PhotoNo" class="form-control" @bind-Value="bindingArtifactObject.PrimaryPhoto.ImageNo " /> *@
    @* </div> *@


    <button type="submit" id="submitButton" class="btn btn-primary">@ButtonText</button>
</EditForm>

@code {
    [Parameter]
    public mims.Models.Artifact bindingArtifactObject {get;set;}

    [Parameter]
    public string ButtonText{ get; set; }

    [Parameter]
    public string artifactID{ get; set; }

    [Parameter]
    public EventCallback OnValidSubmitHandler { get; set; }
    private async Task HandleValidSubmit()
    {
        if (OnValidSubmitHandler.HasDelegate)
        {
            await OnValidSubmitHandler.InvokeAsync(null);
        }
    }
}


