@namespace mims.Components.Admin.Artifact

@using mims.Services.Interfaces;
@using mims.Services

@inject IArtifactService ArtifactService
@inject MediaService MediaService

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />
<ConfirmDialog @ref="dialog" />

<Alert Color="AlertColor.Light" >
  <div class="d-flex justify-content-between h-10" >
    <h1> Artifact Details !!</h1>  
    <div class="mh-5">
      @if(!isLoading && artifact!=null){
        <img src="@Path.Combine(storagePath,artifact.PrimaryPhoto.ImageUrl)" Class="img-fluid" >
      }
    </div>
  </div>
</Alert>

@if (isLoading)
{
  <li class="list-group-item">Loading...</li>
}
else if (artifact == null )
{
  <li class="list-group-item">No artifact found!!</li>
}
else
{
  <Card >
    <CardBody>
      <CardTitle>
        <b>Entry No: &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.EntryNo">
                @artifact.EntryNo
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Name : &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Name">
                @artifact.Name
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Description:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Description">
                @artifact.Description
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Time/Period:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.TimePeriod">
                @artifact.TimePeriod
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Inscription:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Inscription">
                @artifact.Inscription
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Date Of Acquisition: &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.DateOfAcquisition">
                @artifact.DateOfAcquisition
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Place Of Origin:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.PlaceOfOrigin">
                @artifact.PlaceOfOrigin
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Place Of Receipt:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.PlaceOfReceipt">
                @artifact.PlaceOfReceipt
        </EditableField>
      </CardTitle>

      <CardTitle>
        <b>Name Of Donor: &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.NameOfDonor">
                @artifact.NameOfDonor
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Location :  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Location">
                @artifact.Location
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Physical Condition:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.PhysicalCondition">
                @artifact.PhysicalCondition
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Name Of Artist:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.NameOfArtist">
                @artifact.NameOfArtist
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Estimated Value:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.EstimatedValue">
                @artifact.EstimatedValue
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Number Of Objects:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Number">
                @artifact.Number
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Remarks: &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Remarks">
                @artifact.Remarks
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Size:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Measurement">
                @artifact.Measurement
        </EditableField>
      </CardTitle>
      <CardTitle>
        <b>Weight:  &nbsp;&nbsp;</b>
        <EditableField @bind-Value="artifact.Weight">
                @artifact.Weight
        </EditableField>
      </CardTitle>

    </CardBody>
  </Card>
}
<br>

<Button Color="ButtonColor.Primary" @onclick="SaveChangesAsync"> Save Changes</Button>
<Button Color="ButtonColor.Danger" @onclick="ShowDeleteConfirmationAsync"> Delete Artifact</Button>
@code {
    [Parameter]
    public int ArtifactId{ get; set; }
    private bool isLoading = true;
    public mims.Models.Artifact artifact {get;set;}
    private ConfirmDialog dialog = default!;
    private string storagePath {get;set;}

    List<ToastMessage> messages = new List<ToastMessage>();

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
    => new ToastMessage
        {
            Type = toastType,
            Title = "Blazor Bootstrap",
            HelpText = $"{DateTime.Now}",
            Message = $"Hello, world! This is a toast message. DateTime: {DateTime.Now}",
        };

    protected async override Task OnInitializedAsync()
    {
      artifact = await ArtifactService.GetArtifact(ArtifactId);
      isLoading =  false;
      try
      {
        artifact = await ArtifactService.GetArtifact(ArtifactId);
        storagePath = MediaService.baseStoragePath;
      }
      catch (Exception ex)
      {
        // Handle exceptions as needed
        Console.WriteLine($"Error fetching artifact: {ex.Message}");
      }
      finally
      {
        isLoading = false;
        StateHasChanged(); // Ensure the component re-renders
      }
    }

    private async Task SaveChangesAsync()
    {
      ShowMessage(ToastType.Success);
      ArtifactService.UpdateArtifact(artifact);
    }

    private async Task ShowDeleteConfirmationAsync()
    {
        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this?",
            message1: "This will delete the record. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");

        if (confirmation)
        {
            await ArtifactService.DeleteArtifact(ArtifactId);
        }
    }
}

